.kotak{
     width: 42px;
     height: 38px;
     cursor: pointer;
     position : absolute;
 }
.kotak2{
    width: 87px;
    height: 27px;
    cursor: pointer;
    position : absolute;
}
@keyframes blink { 50% { border-color: #ff0000; }  }
.tersedia{
    border: dashed 2px white;
    animation: blink .5s step-end infinite alternate;
}
ul{
    margin-left: 15px !important;
}
.kiri1{
    left: 455px;
}
.kiri2{
    left: 499px;
}

.tengah1{
    left: 619px;
}
.tengah2{
    left: 664px;
}

.kanan1{
    left: 796px;
}
.kanan2{
    left: 841px;
}

.G1, .G2, .G3{
    top: 180px;
}
.A1, .A4, .A7, .A10, .A13, .A16{
    top: 210px;
}
.A2, .A5, .A8, .A11, .A14, .A17{
    top: 250px;
}
.A3, .A6, .A9, .A12, .A15, .A18{
    top: 290px;
}

